<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.zju.cst.dao.AdminMapper">
  <resultMap id="BaseResultMap" type="edu.zju.cst.bean.Admin">
    <constructor>
      <idArg column="admin_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="password" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    admin_name, password
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from admin
    where admin_name = #{adminName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from admin
    where admin_name = #{adminName,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="edu.zju.cst.bean.Admin">
    insert into admin (admin_name, password)
    values (#{adminName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.zju.cst.bean.Admin">
    insert into admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adminName != null">
        admin_name,
      </if>
      <if test="password != null">
        password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adminName != null">
        #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.zju.cst.bean.Admin">
    update admin
    <set>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where admin_name = #{adminName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.zju.cst.bean.Admin">
    update admin
    set password = #{password,jdbcType=VARCHAR}
    where admin_name = #{adminName,jdbcType=VARCHAR}
  </update>

</mapper>