<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.zju.cst.dao.OrdersMapper">
    <resultMap id="BaseResultMap" type="edu.zju.cst.bean.Orders">
        <constructor>
            <idArg column="ordr_id" jdbcType="BIGINT" javaType="java.lang.Long"/>
            <arg column="user_id" jdbcType="BIGINT" javaType="java.lang.Long"/>
            <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="address" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="phone" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="postage" jdbcType="DECIMAL" javaType="java.lang.Integer"/>
            <arg column="total" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
            <arg column="delivery_date" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="delivery_method" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="product_toatl" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
            <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="pay_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="close_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="state" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="is_delete" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    ordr_id, user_id, name, address, phone, postage, total, delivery_date, delivery_method, 
    product_toatl, create_time, pay_time, close_time, state, is_delete
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from orders
        where ordr_id = #{ordrId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from orders
    where ordr_id = #{ordrId,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="edu.zju.cst.bean.Orders" useGeneratedKeys="true" keyProperty="ordrId">
    insert into orders (ordr_id, user_id, name, 
      address, phone, postage, 
      total, delivery_date, delivery_method, 
      product_toatl, create_time, pay_time, 
      close_time, state, is_delete
      )
    values (#{ordrId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{postage,jdbcType=DECIMAL}, 
      #{total,jdbcType=DECIMAL}, #{deliveryDate,jdbcType=VARCHAR}, #{deliveryMethod,jdbcType=VARCHAR}, 
      #{productToatl,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{payTime,jdbcType=TIMESTAMP}, 
      #{closeTime,jdbcType=TIMESTAMP}, #{state,jdbcType=VARCHAR}, #{isDelete,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="edu.zju.cst.bean.Orders" useGeneratedKeys="true" keyProperty="ordrId">
        insert into orders
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ordrId != null">
                ordr_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="postage != null">
                postage,
            </if>
            <if test="total != null">
                total,
            </if>
            <if test="deliveryDate != null">
                delivery_date,
            </if>
            <if test="deliveryMethod != null">
                delivery_method,
            </if>
            <if test="productToatl != null">
                product_toatl,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="payTime != null">
                pay_time,
            </if>
            <if test="closeTime != null">
                close_time,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ordrId != null">
                #{ordrId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="postage != null">
                #{postage,jdbcType=DECIMAL},
            </if>
            <if test="total != null">
                #{total,jdbcType=DECIMAL},
            </if>
            <if test="deliveryDate != null">
                #{deliveryDate,jdbcType=VARCHAR},
            </if>
            <if test="deliveryMethod != null">
                #{deliveryMethod,jdbcType=VARCHAR},
            </if>
            <if test="productToatl != null">
                #{productToatl,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="payTime != null">
                #{payTime,jdbcType=TIMESTAMP},
            </if>
            <if test="closeTime != null">
                #{closeTime,jdbcType=TIMESTAMP},
            </if>
            <if test="state != null">
                #{state,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="edu.zju.cst.bean.Orders">
        update orders
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="postage != null">
                postage = #{postage,jdbcType=DECIMAL},
            </if>
            <if test="total != null">
                total = #{total,jdbcType=DECIMAL},
            </if>
            <if test="deliveryDate != null">
                delivery_date = #{deliveryDate,jdbcType=VARCHAR},
            </if>
            <if test="deliveryMethod != null">
                delivery_method = #{deliveryMethod,jdbcType=VARCHAR},
            </if>
            <if test="productToatl != null">
                product_toatl = #{productToatl,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="payTime != null">
                pay_time = #{payTime,jdbcType=TIMESTAMP},
            </if>
            <if test="closeTime != null">
                close_time = #{closeTime,jdbcType=TIMESTAMP},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=INTEGER},
            </if>
        </set>
        where ordr_id = #{ordrId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="edu.zju.cst.bean.Orders">
    update orders
    set user_id = #{userId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      postage = #{postage,jdbcType=DECIMAL},
      total = #{total,jdbcType=DECIMAL},
      delivery_date = #{deliveryDate,jdbcType=VARCHAR},
      delivery_method = #{deliveryMethod,jdbcType=VARCHAR},
      product_toatl = #{productToatl,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      close_time = #{closeTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=INTEGER}
    where ordr_id = #{ordrId,jdbcType=BIGINT}
  </update>
    <update id="deleteByUpdate" parameterType="java.lang.Long">
    update orders
    set
    is_delete = 1
    where ordr_id = #{ordrId,jdbcType=BIGINT}
  </update>
    <select id="selectByPageSize" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from orders where is_delete=0 limit #{num} offset #{offset}
    </select>
    <select id="countTotal" resultType="java.lang.Integer">
    select count(*) from orders where is_delete=0
  </select>
    <select id="selectByUser" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from orders
        where user_id=#{uid}
    </select>
</mapper>