<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.zju.cst.dao.ProductMapper" >
  <resultMap id="BaseResultMap" type="edu.zju.cst.bean.Product" >
    <constructor >
      <idArg column="product_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="category_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="promotion_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="supplier_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="product_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="picture" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="quantity" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="description" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="is_delete" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    product_id, category_id, promotion_id, supplier_id, product_name, price, picture, 
    quantity, description, is_delete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select <include refid="Base_Column_List" /> from product
    where product_id = #{productId,jdbcType=BIGINT}
  </select>


  <select id="selectByPageSize" resultMap="BaseResultMap"  >
    select <include refid="Base_Column_List" />
    from product where is_delete = 0 limit #{num} offset #{offset}
  </select>

  <select id="countTotal" resultType="java.lang.Integer"  >
    select count(*) from product
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from product
    where product_id = #{productId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="edu.zju.cst.bean.Product" >
    insert into product (product_id, category_id, promotion_id, 
      supplier_id, product_name, price, 
      picture, quantity, description, 
      is_delete)
    values (#{productId,jdbcType=BIGINT}, #{categoryId,jdbcType=BIGINT}, #{promotionId,jdbcType=BIGINT}, 
      #{supplierId,jdbcType=BIGINT}, #{productName,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{picture,jdbcType=VARCHAR}, #{quantity,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, 
      #{isDelete,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="edu.zju.cst.bean.Product" >
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        product_id,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="promotionId != null" >
        promotion_id,
      </if>
      <if test="supplierId != null" >
        supplier_id,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="picture != null" >
        picture,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="promotionId != null" >
        #{promotionId,jdbcType=BIGINT},
      </if>
      <if test="supplierId != null" >
        #{supplierId,jdbcType=BIGINT},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.zju.cst.bean.Product" >
    update product
    <set >
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="promotionId != null" >
        promotion_id = #{promotionId,jdbcType=BIGINT},
      </if>
      <if test="supplierId != null" >
        supplier_id = #{supplierId,jdbcType=BIGINT},
      </if>
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="picture != null" >
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
    </set>
    where product_id = #{productId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.zju.cst.bean.Product" >
    update product
    set category_id = #{categoryId,jdbcType=BIGINT},
      promotion_id = #{promotionId,jdbcType=BIGINT},
      supplier_id = #{supplierId,jdbcType=BIGINT},
      product_name = #{productName,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      picture = #{picture,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=INTEGER}
    where product_id = #{productId,jdbcType=BIGINT}
  </update>
  <update id="deleteByUpdate" parameterType="java.lang.Long" >
    update product
    set
    is_delete = 1
    where product_id = #{productId,jdbcType=BIGINT}
  </update>
</mapper>