<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd ">

    <import resource="classpath:/applicationContext.xml"/>
    <bean id="userControllerTest" class="edu.zju.cst.controller.UserController" />
    <!-- 被依赖的服务 -->
    <bean id="userService" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="edu.zju.cst.service.IUserService" />
    </bean>

    <bean id="userServiceImplTest" class="edu.zju.cst.service.impl.UserServiceImpl" />
    <!-- 被依赖的服务 -->
    <!--<bean id="userService" class="org.mockito.Mockito" factory-method="mock">-->
        <!--<constructor-arg value="edu.zju.cst.service.IUserService" />-->
    <!--</bean>-->

</beans>